.aboutmy_first_img {
    width: 300px;
    border-radius: 50%;
  }
  @media screen and (max-width: 1192px) {
    .aboutmy_first_img {
      width: 350px;
    }
  }
  @media screen and (max-width: 1100px) {
    .aboutmy_first_img {
      width: 300px;
    }
  }
  @media screen and (max-width: 900px) {
    .aboutmy_first_img {
      width: 400px;
    }
  }
  @media screen and (max-width: 400px) {
    .aboutmy_first_img {
      width: 300px;
    }
  }
